{% extends 'base.html.twig' %}

{% block title %}Hello PokemonController!{% endblock %}


{% block javascripts %}
    <script>
        {% block script %}
                // Fonction pour effectuer l'appel API
                function fetchPokemons() {
                    fetch('http://127.0.0.1:8000/api/pokema') // Remplacez 'URL_DE_VOTRE_API' par l'URL réelle de votre API
                        .then(response => response.json())
                        .then(data => {
                            // Mettez à jour la variable pokemons avec les données de l'API
                            var pokemons = data; // Assurez-vous que la structure des données correspond à ce que vous attendez
                            
                            // Utilisez la variable pokemons comme nécessaire
                            console.log("Pokemons récupérés depuis l'API :", pokemons);
                            
                            // Ajoutez ici le code pour manipuler les données des pokemons et les afficher dans votre interface
                        })
                        .catch(error => console.error('Erreur lors de la récupération des pokemons depuis l\'API:', error));
                }

                // Appel de la fonction fetchPokemons au chargement du DOM
                fetchPokemons();
        {% endblock %}
    </script>
{% endblock %}


{% block body %}
<style>

    h1{ color: red;}
    body {margin: 0;padding: 0; box-sizing: border-box;}
    .container {max-width: 800px;margin: 0 auto;padding: 20px; }
    .card { display: flex;
        flex-direction: column;object-fit:contain; border-radius: 10px;height: 150px;width: calc(33.33% - 20px);margin: 10px;background-color: #f0f0f0;padding: 20px;box-sizing: border-box;float: left;transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in-out;overflow: hidden;
        text-decoration: none; color: white; position: relative; display: block;}
    .card:hover {transform: scale(1.1); }

  .top-section {
        height: 30%;
        display: flex; justify-content: space-between;
    }

    .row {
        display: flex;
        height: 70%;
    }

    .column {
        flex: 1;
        padding: 10px;
    }

  .columnType {
        flex: 1;
        padding: 10px;
        flex-direction: column; margin-top: 30px; margin-left: -20px; position: relative;
    }
    .column:last-child {
        border-right: none; 
    }

    .shadow-effect {
        position: absolute;
        bottom: 2px;
        left: 45%;
        transform: translateX(-50%);
        width: 70px;
        height: 10px; /* Ajustez la hauteur de l'ombre allongée */
        background: rgba(0, 0, 0, 0.1); /* Couleur et opacité de l'ombre */
        border-radius: 50%;
    }
  

    .card a{
          text-decoration: none; /* Supprime le soulignement */
        color: black; /* Change la couleur du texte du lien */
    }

.type{
border: 2px solid white; border-radius: 15px; height: 15px; width: 70px; margin-top: 2px; text-align: center; justify-content:center; font-size: 0.75rem;color: white;
}
.background-image{
    position: absolute; bottom: -70%; right: -130%; background-size: cover; width: 100px; height: 100px; opacity: 0.8;"
}
.pokemonImage{

position: relative; z-index: 2; height: 70px; width: auto;
}

</style>

<div class="container">

   {% if pokemons %}
{% for pokemon in pokemons %}
<a href="google.fr" class="card" style="
{% if pokemon.type == "feu" %}

background-color: #ff6666;
{% elseif  pokemon.type == "plante" %}

background-color: #66cc66;

{% elseif  pokemon.type == "eau" %}
background-color: #66a3ff;

{% elseif  pokemon.type == "spectre" %}
background-color: #703f70;

{% elseif  pokemon.type == "psy" %}
background-color: #ef3f7a;

{% elseif  pokemon.type == "combat" %}
background-color: #a5533a;

{% endif %}




">
    <div class="top-section">
        <span>{{ pokemon.name  }}
</span>
        <span >#{{ pokemon.idPokedex }}</span>
    </div>
    <div class="row">
        <div class="columnType">
        {% if pokemon.type %}
            <div class="type">{{pokemon.type}}</div>
        
        {% endif %}
            {% if pokemon.type2 %}
            <div class="type">{{pokemon.type2}}</div>
        
        {% endif %}
            <div class="background-image" style="background-image: url('{{ asset('asset/imagePokemon/pokeball.png') }}');"></div>
        </div>
        <div class="column" style="text-align: center;">
            <img src="{{ asset(pokemon.image) }}" class="pokemonImage" alt="Image de la carte">
            <div style="position: relative;">
                <div class="shadow-effect" style="z-index: 0;"></div>
            </div>
        </div>
    </div>
</a>


{% endfor %}
{% endif %}

        
</div>

{% endblock %}

